BankingSystem.Core/obj/
BankingSystem.Core/bin/
BankingSystem.Examples/obj/
BankingSystem.Examples/bin/
BankingSystem.Factory/obj/
BankingSystem.Factory/bin/
BankingSystem.Plugin/obj/
BankingSystem.Plugin/bin/
BankingSystem.Runner/obj/
BankingSystem.Runner/bin/
BankingSystem.ExerciseVerification/bin/
BankingSystem.ExerciseVerification/obj/
BankingSystem/App_Data/
BankingSystem/obj/
BankingSystem/bin/
BankingSystem/logs
BankingSystem.Data.Access/obj
BankingSystem.Data.Access/bin
BankingSystem.Models/obj
BankingSystem.Models/bin
BankingSystem.Services.Api/obj
BankingSystem.Services.Api/bin
BankingSystem.Services/obj
BankingSystem.Services/bin
BankingSystem.Services.Tests/obj
BankingSystem.Services.Tests/bin
BankingSystem.Web.Tests/obj
BankingSystem.Web.Tests/bin
BankingSystemApiTests/node_modules
*.Cache
packages/
*.user
*.testsettings
_ReSharper.Caches/
.vs/